# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

# Mongo Explorer plugin:
.idea/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

#Dan data
WalkingUpSteps02_raw.txt
WalkingUpSteps03_raw.txt
WalkingUpSteps04_raw.txt
WalkingUpSteps05_raw.txt
WalkingUpSteps06_raw.txt
WalkingUpSteps07_raw.txt
WalkingUpSteps08_raw.txt
WalkingUpSteps09_raw.txt
WalkingUpSteps10_raw.txt
WalkingUpSteps11_raw.txt
WalkingUpSteps12_raw.txt

Dan_walking_up_01.bvh
Dan_walking_up_02.bvh
Dan_walking_up_03.bvh
Dan_walking_up_04.bvh
Dan_walking_up_05.bvh
Dan_walking_up_06.bvh
Dan_walking_up_07.bvh
Dan_walking_up_08.bvh
Dan_walking_up_09.bvh
Dan_walking_up_10.bvh
Dan_walking_up_11.bvh
Dan_walking_up_12.bvh